@model mvc.Models.DemoModel 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCustomer</title>
</head>
<body>
    <div> 
        customer_id:@Model.customer_id;
        customer_name:@Model.customer_name;
        customer_amount:@Model.customer_amount;

      
    </div>
</body>
</html>
